Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
# RewriteBase /

#páginas
RewriteRule ^login/?$ Views/login.php

RewriteRule ^cursos/mostrar/?$ Views/cursos/mostrar.php [L]
RewriteRule ^cursos/detalle_curso/?$ Views/cursos/detalle_curso.php
RewriteRule ^cursos/alumnos_inscritos/?$ Views/cursos/alumnos_inscritos.php

RewriteRule ^alumnos/mostrar/?$ Views/alumnos/mostrar.php
RewriteRule ^alumnos/detalle_alumno/?$ Views/alumnos/detalle_alumno.php

RewriteRule ^profesores/mostrar/?$ Views/profesores/mostrar.php
RewriteRule ^profesores/detalle_profesor/?$ Views/profesores/detalle_profesor.php


RewriteRule ^categorias/mostrar/?$ Views/categorias/mostrar.php
RewriteRule ^categorias/detalle_categoria/?$ Views/categorias/detalle_categoria.php

#RewriteCond %{REQUEST_URI} ^\/404/$
#RewriteRule ^(.*)$ /views/errors/404.php [L]
